.header, .pie {
  background-color: #45A29E;
}
.header a, .pie a {
  color: white;
}

.list-group-item {
  background-color: #263D4F;
}
.list-group-item a {
  color: white;
}
.list-group-item a:hover {
  color: #5cf5ed;
}

h1 h2 h3 {
  color: #1F2833;
}

header {
  font-family: "Advent Pro", sans-serif;
}

.titulo, h1 {
  font-family: "Permanent Marker", cursive;
}

.anclas {
  font-family: "Advent Pro", sans-serif;
}

.derecho {
  font-family: "Advent Pro", sans-serif;
}

.enlace {
  font-family: "Advent Pro", sans-serif;
}

.logo {
  font-family: "Permanent Marker", cursive;
}

h2, p, .formulario-contacto {
  font-family: "Advent Pro", sans-serif;
}

.datos {
  font-family: "Advent Pro", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  border: 10px;
  border-style: none;
  font-size: 20px;
}
header .header a {
  text-decoration: none;
  padding: 10px;
}
header .menu:hover {
  font-size: 23px;
  transition: all 0.5s;
}

.logo {
  display: inline;
  width: 110px;
  height: 70px;
  font-size: 25px;
}

.facebook {
  width: 45px;
  height: 45px;
}

.instagram {
  width: 45px;
  height: 45px;
}

footer {
  width: 100%;
  height: 100%;
  height: auto;
  font-weight: bold;
  text-transform: uppercase;
}
footer .derecho {
  display: inline;
  font-size: 15px;
  text-align: center;
}

/*Smaller devices*/
@media only screen and (max-width: 1199px) {
  .rrss {
    display: flex;
    flex-direction: row !important;
  }
}
/*Fin smaller devices*/
/*Desktop*/
@media only screen and (min-width: 1200px) {
  .facebook {
    right: 10px;
    top: 3px;
  }

  .instagram {
    right: 10px;
    top: 3px;
  }
}
/*Fin desktop*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/*Index*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Fin Index*/
/*Osvaldo Gross*/
.anclas {
  font-size: 20px;
  text-transform: uppercase;
}

.anclas:hover {
  color: #1F2833;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  text-decoration: none;
}

.list-group {
  width: 85%;
}

.contenedor-lista {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  text-transform: uppercase;
  color: #1F2833;
  animation-duration: 1s;
  animation-name: aparecer;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  animation-duration: 3s;
  animation-name: aparecer;
}

.osvaldo, .pasteleria, .chocolateria, .novedades {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 40px;
}

p {
  width: 100%;
  font-size: 22px;
  font-weight: normal;
  color: #1F2833;
  line-height: 1.6;
  padding: 4px;
}

.lista-programas {
  width: 85%;
}

.foto {
  display: flex;
  justify-content: center;
  width: 450px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*Fin Osvaldo Gross*/
/*Pasteleria y Chocolateria*/
.pics1 {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 520px;
  height: 319px;
  margin: 5px;
}

.pics2 {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 520px;
  height: 437px;
  margin: 5px;
}

.tachado {
  text-decoration: line-through;
}

/*Fin Pasteleria y Chocolateria*/
/*Novedades*/
.pics-seminario {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 720px;
  height: 340px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 2px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.notas {
  text-decoration: none;
  color: #1F2833;
  font-weight: bold;
}

.media {
  width: 50%;
}
.media img {
  width: 250px;
  height: 365px;
}

.enlace {
  text-decoration: none;
  text-transform: uppercase;
  color: #1F2833;
  font-weight: bold;
}

.enlace:hover {
  color: #5cf5ed;
  text-decoration: none;
}

.resumen {
  margin-bottom: 15px;
}

/*Fin Novedades*/
/*Sucursales*/
.domicilio, .datos {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sucursal {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 291px;
  border: 3px dashed white;
  border-radius: 5px;
}

.sucursal-1, .sucursal-2 {
  padding: 20px;
}

.formulario-contacto {
  width: 85%;
}

/*Fin Sucursales*/

/*# sourceMappingURL=style.css.map */
