footer{
    width: 100%;
    height: 100%;
    height: auto;
    font-weight: bold;
    text-transform: uppercase;
    
    .derecho{
        display: inline;
        font-size: 18px;
        text-align: center;
    }
  

}