header {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    border: 10px;
    border-style: none;
    font-size: 20px;
    
    .header a{
        text-decoration: none;
        padding: 10px;

        
    }
    .menu:hover{
      font-size: 23px;
      transition: all 0.5s;
    }
  }

  .logo{
    display: inline;
    width: 110px;
    height: 70px;
}
.facebook{
  width: 45px;
  height: 45px; 

}
.instagram{
  width: 45px;
  height: 45px;
  
}