$color-menu: #45A29E;
$color-submenu: #263D4F;
$color-hover: #5cf5ed; 
$color-links: white;
$color-titulo:  #1F2833;
$color-fondo: white;


.header, .pie{
    background-color: $color-menu;
    
        a{
        color: $color-links;

    }
    
}

.list-group-item{
    background-color: $color-submenu;
    a{
        color: $color-links;

    }
    a:hover{
        color: $color-hover ;
    }
}

h1 h2 h3{
    color: $color-titulo;
}