$color-menu: rgba(80, 78, 78, 0.137);
$color-links: white;
$color-titulo:#541C18;
$color-fondo: rgb(36, 35, 35);

.header .pie{
    background-color: $color-menu;
    
        a{
        color: $color-links;

    }
    
}

.anclas{
    background-color: $color-fondo;
}