$fuente-logo: 'Permanent Marker', cursive;
$fuente-secundaria: 'Shadows Into Light', cursive;
$fuente-primaria: 'Advent Pro', sans-serif;

header{
    font-family: $fuente-primaria;
}

.titulo, h1{
    font-family: $fuente-logo;
}
.anclas{
    font-family: $fuente-primaria;

}
.derecho{
    font-family: $fuente-primaria;
}
.enlace{
    font-family: $fuente-primaria;
    
}

.logo {
    font-family: $fuente-logo ;
}
h2, p, .formulario-contacto{
    font-family: $fuente-primaria;
}
.datos{
    font-family: $fuente-primaria;
}
